<a href="<%= item.link %>" target="_blank" class="thumbnail text-center" style="text-decoration:none; color:#2c3e50;">
<h2><%= item.name %></h2>
<h5><%= item.blurb %></h5>
<img src=<%= item.pic_url %>>
</a>